<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="login">
        <p>Please Sign In</p>
        <hr>
        <form>
            <input type="text" placeholder="E-Mail" required minlength="5" maxlength="50">
            <br>
            <input type="password" placeholder="PassWord" required minlength="8" maxlength="30">
            <br>
            <div class="check">
                <input type="checkbox">
                Remember Me
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <br>
        <a href="register.html">
            Click here to Register
        </a>
    </div>

</body>

</html>