<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>

<body>
    <div class="register">
        <p>Register</p>
        <hr>
        <form>
            <input type="text" placeholder="User name" required minlength="3" maxlength="30">
            <br>
            <input type="text" placeholder="E-Mail" required minlength="5">
            <br>
            <input type="password" placeholder="PassWord" required minlength="8" maxlength="30">
            <br>
            <input type="password" placeholder="Re PassWord" required minlength="8" maxlength="30">
            <br>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        <br>
        <a href="login.html">
            Click here to login
        </a>
    </div>

</body>
</html>